<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Hastane_1.Properties.Settings.HASTANEGRŞ" connectionString="Data Source=YAREN;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="Hastane_1.Properties.Settings.HastaneVeritabanıConnectionString"
            connectionString="Data Source=Yaren;Initial Catalog=HastaneVeritabanı;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>